.dropdowntable{
    background-color: whitesmoke;
    display:  flex;
    flex-direction: column;
    border :1px solid grays;
}
.dropdowntable :empty{
    border: none;
}
.dropdowntable-row{
    cursor: pointer;
    text-align: start;
    margin: 2px 0;
}
.dropdowntable-row :hover{
    background-color:aliceblue
}
.ul{
    height:200px; width:18%;
}
.ul{overflow:hidden; overflow-y:scroll;}
.scroll-bar{
    height: 100%;
    width: 100px;
    border: 1px solid grey;
    overflow: auto;
}