.container{
    display: block;
    justify-content: center;
}
.content{
    display :flex;
}
.body{
    box-sizing: border-box;
    margin: 0;
    margin-top: 100px;
    padding: 0;
    color: #eaeaea;
}
.maincontent{
    margin-top: 20px;
}